<section class="content">
<div class="card card-primary card-outline text-sm">
<div class="card-header">
<h4 class="card-title"><i class="fas fa-table"></i> Lista de Registros</h4>
</div>
<div class="card-body text-xs">
            @*<div class="row">
<div class="col-sm-12 mb-2">
<table id="tb-resumo-arq" style="margin: 0 auto;">
<tbody>
<tr>
<th rowspan="2" class="tb-resumo-arq-class"><span id="STS-INFO">Status do Motor de Importação</span></th>
<th align="center" class="tb-resumo-arq-class">Arquivos aguardando processamento</th>
<th align="center" class="tb-resumo-arq-class">Arquivos em processamento</th>
<th align="center" class="tb-resumo-arq-class">Data do envio mais antigo</th>
<th align="center" class="tb-resumo-arq-class">Data do envio mais recente</th>
<th align="center" class="tb-resumo-arq-class">Última Captura Maestro</th>
</tr>
<tr>
<td align="center" class="tb-resumo-arq-class"><span id="STS-AGUARDANDO_PROCESSAMENTO"></span></td>
<td align="center" class="tb-resumo-arq-class"><span id="STS-EM_PROCESSAMENTO"></span></td>
<td align="center" class="tb-resumo-arq-class"><span id="STS-MAIS_ANTIGA"></span></td>
<td align="center" class="tb-resumo-arq-class"><span id="STS-MAIS_RECENTE"></span></td>
<td align="center" class="tb-resumo-arq-class"><span id="MAESTRO"></span></td>
</tr>
</tbody>
</table>
</div>
 
            </div>*@
<div class="row">
<div class="col">
<table id="tTabela" class="table table-striped table-bordered" style="width:100%;table-layout: fixed;">
<thead>
<tr>
<th></th>
<th>ID</th>
<th style="background-color: #E6EDF2">Status</th>
<th style="background-color: #FFFEEC">Arquivo</th>
<th style="background-color: #FFFEEC">Empresa</th>
<th style="background-color: #EFFAEF">Data-base</th>
<th style="background-color: #EFFAEF">Data Limite Envio</th>
<th style="background-color: #EFFAEF">Dt. Lim. Estendido</th>
<th style="background-color: #E6EDF2">Recebido</th>
<th style="background-color: #E6EDF2">Processado</th>
<th style="background-color: #E6EDF2">Cálc. Moeda</th>
<th style="background-color: #FFF4E7">Data Imp. Arquivo</th>
<th style="background-color: #FFF4E7">Importado Por</th>
<th style="background-color: #FFF4E7">Departamento Responsável</th>
<th style="background-color: #FFF4E7">Setor Responsável</th>
</tr>
</thead>
</table>
 
                    @*<div class="divisor mt-4 mb-4">Log de Processamento por tipo </div>
<table id="tTabelaLog" class="table table-striped table-bordered" style="width:100%;table-layout: fixed;">
<thead>
<tr>
<th style="background-color: #E6EDF2">TIPO</th>
<th style="background-color: #FFFEEC">ARQUIVOS AGUARDANDO PROCESSAMENTO</th>
<th style="background-color: #FFFEEC">ARQUIVOS EM PROCESSAMENTO</th>
<th style="background-color: #EFFAEF">DATA DO ENVIO MAIS ANTIGO</th>
<th style="background-color: #EFFAEF">DATA DO ENVIO ENVIO MAIS RECENTE</th>
</tr>
</thead>
</table>*@
</div>
</div>
 
 
        </div>
<div id="spinner-tabela" class="overlay dark fa-2x" style="visibility:visible">
<i class="fas fa-2x fa-sync-alt fa-spin"></i>
</div>
</div>
</section>